{% extends 'base.html' %} {% block title %} Users {% endblock %}

{% block base_content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<br>
</br>
<div class="container" style="background: #FBFB7E">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>Employees </b> <button type="button" class="btn btn-info btn-lg"
                style="float: right" data-bs-toggle="modal" data-bs-target="#adduserModal"> Add new user </button></h2>
                <br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert" >{{ message }}
                    <button type="button" data-bs-dismiss="alert" style="float:right">
                        &times
                    </button>
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}
                <div id="adduserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">New User</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="{{url_for('user_bp.add_user')}}" method="POST" id="add_user_form">
                          <div class="form-group">
                            <label for="user-name" class="col-form-label">Username: </label>
                            <input type="text" class="form-control" id="user-name" name="username" required>
                          </div>
                          <div class="form-group">
                            <label for="email" class="col-form-label">Email: </label>
                            <input type="email" class="form-control" id="email" name="email" required>
                          </div>
                            <div class="form-group">
                            <label for="age" class="col-form-label">Age: </label>
                            <input type="number" class="form-control" id="age" name="age" min="1" max="100">
                          </div>
                            <div class="form-group">
                            <label for="password" class="col-form-label">Password: </label>
                            <input type="password" class="form-control" id="password" name="password" required>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="Submit" form="add_user_form"> Confirm </button>
                      </div>
                    </div>
                  </div>
                </div>
                <br>

                <table class="table table-hover table-dark">
                    <tr>
                        <th> ID </th>
                        <th> Name </th>
                        <th> email </th>
                        <th> age </th>
                        <th> action </th>
                    </tr>
                    {% for user in all_users %}
                    <tr>
                        <td>{{user.ID}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.age}}</td>
                        <td>

                            <button class="btn btn-warning btn-xs" type="button" data-bs-toggle="modal" data-bs-target="#modalEdit{{user.ID}}" > Edit{{user.ID}} </button>

                            <a href="{{ url_for('user_bp.delete_user', user_id=user.ID) }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete this user?')">
                                Delete </a>
                        </td>
                    </tr>

                    <div id="modalEdit{{user.ID}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" style="color: black">Update User{{user.ID}}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/update/{{user.ID}}" method="POST" id="update_user_form{{user.ID}}">
                          <div class="form-group">
                            <label for="update_username" class="col-form-label" style="color: black">Username{{user.ID}} {{user.name}}: </label>
                              <input type="hidden" name="user_id" value="{{user.ID}}">
                              <input type="hidden" name="user_name" value="{{user.name}}">
                            <input type="text" class="form-control" id="update_username" name="update_username">
                          </div>
                          <div class="form-group">
                            <label for="update_email" class="col-form-label" style="color: black">Email: </label>
                            <input type="email" class="form-control" id="update_email" name="update_email">
                          </div>
                            <div class="form-group">
                            <label for="update_age" class="col-form-label" style="color: black">Age: </label>
                            <input type="number" class="form-control" id="update_age" name="update_age">
                          </div>
                            <div class="form-group">
                            <label for="update_password" class="col-form-label" style="color: black">Password: </label>
                            <input type="password" class="form-control" id="update_password" name="update_password">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="Submit" form="update_user_form{{user.ID}}"> Update </button>
                      </div>
                    </div>
                  </div>

                </div>

                    <script src="static/js/myown.js"></script>
                    {% endfor %}
                </table>

            </div>
        </div>

    </div>

</div>

{% endblock %}
