<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>

    <link href="{{ url_for('static', filename = 'bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'border.css')}}" rel="stylesheet">

</head>
<body>
<div id="rcorners3">
    <div style="text-align: center">
        <h1 style="color: gold"> Tracky </h1>
        <h5 style="font-family: cursive"> -make the best experience of time tracking </h5>
    </div>

</div>

</body>